<div class="dashboard-widget">
  <div class="dashboard-widget_header flex align-items-center justify-content-between mb-3">
    <h3 class="m-0 text-xl font-bold">{{ title() }}</h3>
    @if (actionLink() && actionLabel()) {
      <a
        [routerLink]="actionLink()"
        class="widget-action-link flex align-items-center gap-2 text-sm text-color-secondary no-underline cursor-pointer"
      >
        <span>{{ actionLabel() }}</span>
        <i class="pi pi-arrow-right dashboard-widget__link-icon"></i>
      </a>
    }
  </div>
  <div class="dashboard-widget_body">
    <ng-content></ng-content>
  </div>
</div>
