<div class="quiz-card">
  <div class="quiz-card__item flex align-items-center gap-3 pr-3">
    <div class="quiz-card__image-container">
      <img [src]="imgSrc()" [alt]="quiz().title" class="quiz-card__image border-round-lg" />
    </div>

    <div class="flex-1 flex justify-content-between align-items-center">
      <div class="left flex flex-column gap-2">
        <h4 class="m-0 text-lg font-bold">{{ quiz().title }}</h4>

        <p-tag severity="info" [value]="groupName()" />
        <span class="text-sm text-color-secondary">by instructor name</span>
        <!-- group name -->
      </div>

      <div class="right flex align-items-center justify-content-center gap-4">
        <div class="chip-schadule flex align-items-center gap-2 text-sm text-color-secondary mt-1">
          <span>{{ quiz().schadule | date: 'dd/MM/yyyy' }}</span>
          <span>|</span>
          <span>{{ quiz().schadule | date: 'h:mm a' }}</span>
        </div>

        <!-- <p-tag severity="info" value="remaining time" /> -->
        <span class="remaining-time flex align-items-center gap-2 text-sm text-color-secondary">
          <i class="pi pi-circle-fill"></i>
          {{ remainingTime() }}
        </span>
        <button class="action-btn" label="join" [routerLink]="['/dashboard/learner/quizzes']">
          <i class="pi pi-play"></i>
          Join
        </button>
        <!-- <p-button
          styleClass="action-btn"
          label="join"
          [routerLink]="['/dashboard/learner/quizzes']"
        >
          <i class="pi pi-play"></i>

          join
        </p-button> -->
      </div>
    </div>
  </div>
</div>
