<p-dialog [(visible)]="visible" [modal]="true" [draggable]="false" [resizable]="false" [closable]="false"
  [style]="{ width: '34rem' }">
  <div class="success-dialog">
    <div class="success-icon">
      <i class="pi pi-check"></i>
    </div>

    <h2>{{ title() || ('quiz_code_dialog.success_title' | translate) }}</h2>

    <div class="quiz-code">
      <div class="label">{{ 'quiz_code_dialog.code_label' | translate | uppercase }}</div>

      <div class="value">
        {{ code() }}
      </div>

      <p-button text (click)="copyCode()">
        @if (!copied()) {
        <i class="pi pi-copy"></i>
        } @else {
        <i class="pi pi-check"></i>
        }
      </p-button>
    </div>

    <p-button [label]="'common.close' | translate" [styleClass]="'close-btn'" (click)="closeDialog()"></p-button>
  </div>
</p-dialog>
