<header class="app-header flex align-items-center justify-content-between">
  <h2 class="m-0">{{ pageTitle() | translate }}</h2>

  <div class="flex flex-1 align-items-center gap-4 justify-content-end">
    @if (userRole() === 'Instructor') {
    <p-button [label]="'dashboard_layout.new_quiz' | translate" outlined (onClick)="openAddDialog()">
      <ng-template pTemplate="icon">
        <img src="/images/new-quiz-icon.svg" [alt]="'dashboard_layout.new_quiz' | translate" width="18" height="18" />
      </ng-template>
    </p-button>
    }

    <span class="clock flex align-items-center gap-2 text-sm text-color-secondary">
      {{ currentTime() | date: 'hh:mm:ss a' }}
      <img src="/images/new-quiz-icon.svg" alt="New Quiz" width="18" height="18" />
    </span>
    <app-language-switcher></app-language-switcher>

    <!--User DropDown-->
    <div class="">
      <div class="flex align-items-center gap-2 cursor-pointer " (click)="userMenu.toggle($event)">
        <p-avatar [label]="userInitials()" shape="circle" styleClass="bg-purple-500 text-white" />
        <div class="flex flex-column line-height-2">
          <span class="font-medium text-sm">{{ userName() }}</span>
          <span class="text-xs" style="color: #c5d86d">{{ userRole() }}</span>
        </div>
        <i class="pi pi-chevron-down text-sm"></i>
      </div>
      <p-menu #userMenu [popup]="true" [model]="userMenuItems" />
    </div>
  </div>
</header>

<quiz-app-add-edit-quiz [(visible)]="showDialog" [loading]="addEditLoad()" (submitForm)="saveQuiz($event)"
  [groups]="groupsOptions()" />

<app-quiz-code-dialog [(visible)]="showSuccessDialog" [code]="quizCode()"></app-quiz-code-dialog>
